@charset "UTF-8";

/* VARIABLES
----------------------------- */
@import 'variables';

/* MIXIN
----------------------------- */


/* COMMON
----------------------------- */
html {
    font-size: 16px;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: $text-color;
}
img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
br.sp {
    display: none;
}

/* HEADER
----------------------------- */
.header {
    width: 100%;
    height: 80px;
    position: relative;

    &__inner {
        width: 100%;
        height: 100%;
        padding: 0 2%;
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 5%;
        display: flex;
        align-items: center;

        &--img {
            width: 40px;
            height: 40px;
        }

        &--title {
            margin-left: 15px;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
        }
    }

    &__nav {
        display: flex;

        a {
            margin-left: 30px;
            color: #FFFFFF;
        }
    }
}

.btn__book {
    width: 170px;
    height: 55px;
    padding: 0 35px;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #978F10;

    div {
        width: 22px;
        height: 22px;
    }

    p {
        font-size: 16px;
    }
}

/* TABLET
----------------------------- */
@media (max-width: 800px) {
}

/* SMARTPHONE
----------------------------- */
@media (max-width: 700px) {
}