@charset "UTF-8";

/* VARIABLES
----------------------------- */
@import 'variables';

/* MIXIN
----------------------------- */
@mixin inner($py) {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: $py 2%;
}

@mixin logo-img($size) {
    width: $size;
    height: $size;
    margin: 0 auto 0.5vw;
    display: block;
    content: '';
    background: url(../images/logo_bk.png) no-repeat;
    background-size: contain;
}

@mixin logo-txt($size, $color) {
    font-size: $size;
    font-weight: 900;
    letter-spacing: .18em;
    line-height: 48px;
    white-space: nowrap;
    color: $color;
}

@mixin link($color) {
    color: $color;
    transition: opacity .5s;

    &:hover {
        opacity: .6;
    }
}

@mixin btn($py) {
    width: fit-content;
    min-width: 200px;
    padding: $py 45px;
    color: $text-color;
    text-align: center;
    border: 1px solid #707070;
    transition: .5s;

    &:hover {
        color: #fff;
        background: #707070;
    }
}

@mixin resize-img-parent($ratio) {
    position: relative;

    &::before {
        display: block;
        padding-top: $ratio;
        content: '';
    }
}

@mixin resize-img-child($type) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: $type;
}

@mixin page-title-bg($img) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $img center center;
    background-size: cover;
    @include resize-img-parent(26%);
}

@mixin fade-in($duration) {
    animation: fade-in $duration ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* COMMON
----------------------------- */
html {
    font-size: 16px;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", 'Noto Serif JP', "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: $text-color;
}
img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}
p {
    line-height: 2;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    border: none;
}
br.sp,
br.tb {
    display: none;
}

/* HEADER
----------------------------- */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #FFFFFF;

    &__inner {
        width: 100%;
        height: 100%;
        padding: 0 1%;
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 5%;
        display: flex;
        align-items: center;
        @include link($text-color);
    }

    &__img {
        width: 40px;
        height: 40px;
        background: url(../images/logo_bk.png) center center no-repeat;
        background-size: contain;
    }

    &__title {
        margin-left: 15px;
        @include logo-txt(32px, $text-color);
    }

    &__nav {
        display: flex;

        a {
            margin-left: 30px;
            @include link($text-color);
        }
    }
}

.header--transparent {
    background: rgba(255, 255, 255, 0);

    .header__logo {
        @include link(#FFFFFF);
    }

    .header__img {
        background: url(../images/logo_wh.png) center center no-repeat;
        background-size: contain;
    }

    .header__title {
        @include logo-txt(32px, #FFFFFF);
    }

    .header__nav {
        a {
            @include link(#FFFFFF);
        }
    }
}

.btn--book {
    width: 170px;
    height: 55px;
    padding: 0 35px;
    position: absolute;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #978F10;
    transition: background-color .3s;

    &:hover {
        background: lighten(#978F10, 10);
    }

    img {
        width: 22px;
        height: 22px;
    }

    p {
        margin-left: 10px;
        font-size: 16px;
        line-height: 1;
    }
}

.btn--hamburger {
    display: none;
}

/* MODAL
----------------------------- */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .5s;

    &.is-show {
        visibility: visible;
        opacity: 1;
    }

    &__bg {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }

    &__content {
        width: 95%;
        max-width: 550px;
        padding: 30px 3% 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform :translate(-50%, -50%);
        background: #FFFFFF;
        border: 1px solid #707070;
    }

    &__title {
        padding-bottom: 30px;
        font-size: 1.25rem;
        text-align: center;
        border-bottom: 1px solid #E7E7E7;
    }

    &__close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.form {
    margin-top: 35px;

    &__item {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 10%;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #E7E7E7;
        }
    }

    &__label {
        span {
            font-size: 0.875rem
        }
    }

    .btn--submit {
        @include btn(10px);
        display: table;
        margin: auto;
    }
}

/* TOP
----------------------------- */
/* MAIN */
.main {
    width: 100%;
    height: 100vh;
    @include resize-img-parent(56.2%);
    overflow: hidden;

    &__slogan {
        position: absolute;
        top: 33%;
        right: 25%;
        z-index: 1;
        color: #FFFFFF;
        font-size: 2.125rem;
        letter-spacing: 0.6rem;
        line-height: 2.5;
        writing-mode: vertical-rl;
    }

    &__bg {
        @include resize-img-child($ex);
        opacity: 0;
        animation: zoom-in 15s 0s infinite linear;

        &:nth-of-type(2) {
            animation-delay: 5s;
        }

        &:nth-of-type(3) {
            animation-delay: 10s;
        }

        @keyframes zoom-in {
            0% {
                opacity: 0;
            }
            7% {
                opacity: 1;
            }
            33% {
                opacity: 1;
            }
            40% {
                opacity: 0;
                transform: scale(1.05);
            }
        }
    }
}

/* MESSAGE */
.message {
    background: url(../images/bg01.jpg) center center no-repeat;
    background-size: cover;

    &__inner {
        @include inner(0);
        padding: 3% 8% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 2.4;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    h2 {
        margin-top: 4.5rem;
        font-size: 1.75rem;
        letter-spacing: 0.6rem;
        text-indent: -4.5rem;
    }

    p {
        margin-top: 4.5rem;
        letter-spacing: 0.4rem;

        &:last-child {
            margin-bottom: 5%;
            text-align: right;
            font-size: 1.375rem;
        }
    }
}

/* ABOUT */
.about {
    padding: 100px 0 80px;

    &__item {
        margin-bottom: 6%;
        display: flex;

        &:nth-child(odd) {
            .about__txt {
            margin-right: auto;
            padding-left: 7%;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .about__txt {
                margin-left: auto;
                padding-right: 7%;
            }
        }
    }

    &__img {
        width: 55%;
        min-height: 570px;
        @include resize-img-parent(52%);

        img {
            @include resize-img-child($ex);
        }
    }

    &__txt {
        max-width: 45%;
        padding: 30px 3%;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 3.5vw;
            font-size: 2.25rem;
            line-height: 1.7;
        }

        p {
            margin-bottom: 3.5vw;
        }
    }
}

.btn--link {
    @include btn(20px);
}

/* OFFERS */
.offers {
    padding: 0 3%;
    background: url(../images/bg02.jpg) center center no-repeat;
    background-size: cover;

    &__container {
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex: 0 0 28%;

        figure {
            min-height: 200px;
            margin-bottom: 2vw;
            @include resize-img-parent(63%);

            img {
                @include resize-img-child($ex);
            }
        }

        h3 {
            margin-bottom: 1.5vw;
            font-size: 1.25rem;
        }
    }
}

.section__inner {
    @include inner(3vw);
}

.section__title {
    margin: 10px auto 60px;
    display: table;
    font-size: 2rem;

    &::before {
        @include logo-img(40px);
    }
}

/* NEWS */
.news {
    &__category {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;

        li {
            margin: 0 25px;
            line-height: 1;
            cursor: pointer;

            &.is-active {
                border-bottom: 1px solid #000;
                cursor: default;
            }
        }
    }

    &__list {
        display: none;

        &.is-active {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include fade-in(.5s);
        }
    }

    &__item {
        width: 48%;
        margin-bottom: 20px;
        padding: 15px 10px;
        display: flex;
        background: #F6F6F6;

        figure {
            min-width: 100px;
            min-height: 100px;
            max-width: 100px;
            max-height: 100px;
            @include resize-img-parent(100%);

            img {
                @include resize-img-child($ex);
            }
        }
    }

    &__title {
        width: 80%;
        padding-left: 5%;
    }

    &__date {
        font-size: 0.875rem;
    }
}

/* location */
.location {
    background: url(../images/bg01.jpg) repeat;
    background-size: cover;

    &__info {
        margin: 7% auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        figure {
            width: 55%;
            min-height: 370px;
            @include resize-img-parent(56%);

            img {
                @include resize-img-child($ex);
            }

        }
    }

    &__txt {
        width: 40%;

        h3 {
            font-size: 1rem;
        }
        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__map {
        width: 800px;
        height: 600px;
        margin: 0 auto 5%;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

/* SUB PAGE
----------------------------- */
/* PAGE TITLE */
.page-title {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.rooms {
        @include page-title-bg($rooms)
    }

    &.dining {
        @include page-title-bg($dining)
    }

    &.onsen {
        @include page-title-bg($onsen)
        }
}

.page-title__title {
    font-size: 2.125rem;
    color: #FFFFFF;
}

/* CONTENT */
.section {
    &__top {
        @include inner(2%);
    }

    &__breadcrumbs {
        margin-bottom: 8%;

        a {
            @include link($text-color);
        }

        span {
            margin: 0 5px;
        }
    }

    &__about {
        margin-bottom: 5%;
        text-align: center;
    }

    &__main {
        @include inner(2%)
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 8%;
        display: flex;
        justify-content: space-between;

        &:nth-of-type(odd) {
            flex-direction: row-reverse;

            .section__txt::before {
                right: 0;
            }
        }

        &:nth-of-type(even) {
            .section__txt::before {
                left: 0;
            }
        }
    }

    &__img {
        min-width: 525px;
        margin-bottom: 12%;
        @include resize-img-parent(57%);

        img {
            @include resize-img-child($ex);
        }
    }

    &__txt {
        width: 56%;
        min-height: 380px;
        margin-top: 5%;
        padding: 5% 2% 5% 5%;

        &::before {
            width: 800px;
            height: 100%;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            background: url(../images/bg01.jpg) no-repeat;
            background-size: cover;
        }

        h3 {
            margin-bottom: 6%;
            font-size: 1.5rem;
        }

        &--caution {
            margin-top: 6%;
            font-size: 0.875rem;

            & p::before {
                display: inline-block;
                content: '＊';
            }
        }
    }

    &__table {
        margin: 6% 0;
        padding: 6% 0;
        border-top: 1px solid #E7E7E7;
        border-bottom: 1px solid #E7E7E7;


        table {
            width: 90%;
            max-width: 880px;
            margin: auto;
            border-collapse: collapse;
            }

        caption {
            margin-bottom: 5%;
            font-size: 1.625rem;
        }

        td {
            padding: 2% 0;
            font-size: 0.938rem;
            border-top: 1px solid #E7E7E7;
            border-bottom: 1px solid #E7E7E7;

            &.col1 {
                width: 25%;
            }
        }
    }
}

/* FOOTER
----------------------------- */
.footer {
    background: url(../images/bg03.jpg) center center no-repeat;
    background-size: cover;

    &__inner {
        @include inner(60px);
    }

    &__nav {
        margin: auto;
        margin-bottom: 7%;
        writing-mode: vertical-rl;

        a {
            display: block;
            margin: 0 30px;
            font-size: 1.125rem;
            letter-spacing: 1rem;
            @include link($text-color);
        }
    }

    &__logo {
        @include logo-txt(32px, $text-color);
        margin-bottom: 6%;
        text-align: center;

        &::before {
            @include logo-img(40px);
        }
    }

    &__info {
        text-align: center;

        span {
            display: inline-block;
            margin-left: 20px;
        }
    }

    &__copyright {
        padding: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #000;

        small {
            font-size: 0.75rem;
        }
    }
}

/* TABLET
----------------------------- */
@media (max-width: 1023.98px) {
    /* COMMON
    ----------------------------- */
    html {
        font-size: 13px;
    }

    br.pc {
        display: none;
    }

    br.tb {
        display: block;
    }

    /* HEADER
    ----------------------------- */
    .header {
        &__inner {
            padding: 0 3%;
        }
    }

    .btn--book {
        right: 2%;
    }

    /* MODAL
    ----------------------------- */
    .modal {
        &__content {
            padding-bottom: 30px;
        }
    }

    .form {
        margin-top: 20px;

        &__item {
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 30px;
            }
        }
    }

    /* TOP
    ----------------------------- */
    /* MAIN */
    .main {
        &__slogan {
            right: 20%;
            font-size: 1.875rem;
        }
    }

    /* MESSAGE */
    .message {
        &__inner {
            max-width: 600px;
        }
    }

    /* ABOUT */
    .about {
        padding-bottom: 30px;

        &__item {
            flex-direction: column;

            &:nth-child(odd) {
                .about__txt {
                padding: 3% 10%;
                }
            }

            &:nth-child(even) {
                flex-direction: column;

                .about__img {
                    margin-left: auto;
                }

                .about__txt {
                    padding: 3% 10%;
                }
            }
        }

        &__img {
            width: 90%;
            min-height: 320px;
        }

        &__txt {
            width: 100%;

            h2 {
                font-size: 1.875rem;
            }
        }
    }

    /* OFFERS */
    .offers {
        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 50%;
            margin-bottom: 6%;
        }
    }

    .section__title {
        margin: 20px auto 40px;
        font-size: 1.875rem;

        &::before {
            @include logo-img(30px);
        }
    }

    /* NEWS */
    .news {
        &__list {
            &.is-active {
                flex-direction: column;
                align-items: center;
            }
        }

        &__item {
            width: 80%;

            &:nth-last-of-type(-n+3) { //3 latest items are visible
                display: none;
            }
        }
    }

    /* LOCATION */
    .location {
        &__info {
            max-width: 600px;
            flex-direction: column;

            figure {
                width: 100%;
                min-height: 250px;
                margin-bottom: 5%;
            }
        }

        &__txt {
            width: 100%;
        }

        &__map {
            width: 100%;
            height: 400px;
        }
    }

    /* SUB PAGE
    ----------------------------- */
    /* PAGE TITLE */
    .page-title__title {
        font-size: 1.875rem;
    }

    /* CONTENT */
    .section {
        &__main {
            padding-left: 0;
            padding-right: 0;
        }

        &__item {
            flex-direction: column-reverse;

            &:nth-of-type(odd) {
                flex-direction: column-reverse;

                .section__txt {
                    align-self: flex-end;
                }
            }

            &:nth-of-type(even) {
                align-items: flex-end;

                .section__txt {
                    align-self: flex-start;
                }
            }
        }

        &__img {
            width: 90%;
            min-width: auto;
            min-height: 320px;
            margin-bottom: 0;
        }

        &__txt {
            width: 90%;
            min-height: auto;
            margin-top: 0;
            padding: 5% 10% 10%;

            &::before {
                width: 90vw;
                height: 160%;
                display: block;
                content: '';
                position: absolute;
                top: -60%;
                background: url(../images/bg01.jpg) no-repeat;
                background-size: cover;
            }
        }

        &__table {
            width: 96%;
            margin: 6% auto;
        }
    }
}

/* SMARTPHONE
----------------------------- */
@media (max-width: 767.98px) {
    /* COMMON
    ----------------------------- */
    br.tb {
        display: none;
    }

    br.sp {
        display: block;
    }

    /* HEADER
    ----------------------------- */
    .header {
        height: 60px;

        &__img {
            width: 30px;
            height: 30px;
        }

        &__title {
            margin-left: 5px;
            @include logo-txt(24px, $text-color);
        }

        &__nav {
            width: 100%;
            height: 100vh;
            padding: 180px 10% 0;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            transform: translateX(100vw);
            flex-direction: column;
            background: #FFFFFF;

            li {
                padding: 20px 10px 10px;
                border-bottom: 1px solid #E7E7E7;

                a {
                    margin: 0;
                    font-size: 18px;
                }
            }
        }
    }

    .header--transparent {
        .header__title {
            @include logo-txt(24px, #FFFFFF);
        }

        .header__nav {
            a {
                @include link($text-color);
            }
        }

        .hamburger__line {
            background-color: #FFFFFF;
        }
    }

    .btn--book {
        width: 80%;
        margin: auto;
        top: 80px;
        left: 5%;
        right: 5%;
        transform: translateX(100vw);
    }

    .is-drawerActive {
        .header__nav {
            transform: translateX(0px);
            transition: .3s;
        }

        .btn--book {
            transform: translateX(0px);
            transition: .3s;
        }
    }

    .btn--hamburger {
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        appearance: none;
        z-index: 30;
        outline: none;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
        cursor: pointer;

        &[area-expanded="true"] {
            .hamburger__line {
                background-color: transparent;

                &::before,
                &::after {
                top: 0;
                background-color: $text-color;
                }

                &::before {
                    -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                }

                &::after {
                    -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                }
            }
        }
    }

    .hamburger__line {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 30px;
        height: 2px;
        background-color: $text-color;
        -webkit-transition: inherit;
                transition: inherit;

        &::before,
        &::after {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: inherit;
            content: '';
            -webkit-transition: inherit;
                    transition: inherit;
        }
    }

    .hamburger__line::before {
        top: -10px;
    }
    .hamburger__line::after {
        top: 10px;
    }

    /* TOP
    ----------------------------- */
    /* MAIN */
    .main {
        &__slogan {
            right: 15%;
            font-size: 1.5rem;
        }
    }

    /* MESSAGE */
    .message {
        &__inner {
            padding: 3%;
            writing-mode: inherit;
            text-align: justify;
        }

        h2 {
            margin-top: 0;
            margin-left: 6rem;
            font-size: 1.25rem;
        }

        p {
            margin-top: 5%;

            &:last-child {
                font-size: 1.125rem;
            }
        }
    }

    /* ABOUT */
    .about {
        &__img {
            width: 90%;
            min-height: 250px;
        }

        &__txt {
            max-width: 100%;

            h2 {
                font-size: 1.5rem;
            }
        }
    }

    /* OFFERS */
    .offers {
        &__item {
            width: 100%;
            max-width: 350px;
            margin-bottom: 10%;
        }
    }

    /* NEWS */
    .news {
        &__item {
            width: 90%;
        }

        &__title {
            width: auto;
            padding-left: 5%;
        }
    }

    /* LOCATION */
    .location {
        &__info {
            figure {
                width: 100%;
            }
        }

        &__txt {
            width: 90%;
        }

        &__map {
            width: 100%;
            height: 400px;
        }
    }

    /* SUB PAGE
    ----------------------------- */
    /* PAGE TITLE */
    .page-title {
        height: 300px;
    }

    /* CONTENT */
    .section {
        &__top {
            padding-left: 1%;
            padding-right: 1%;
        }
    }

    /* FOOTER
    ----------------------------- */
    .footer {
        &__logo {
            @include logo-txt(24px, $text-color);
            margin-bottom: 6%;
            text-align: center;

            &::before {
                @include logo-img(30px);
            }
        }
    }
}