@charset "UTF-8";

/* VARIABLES
----------------------------- */
@import 'variables';

/* MIXIN
----------------------------- */
@mixin inner() {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 3% 0;
}

@mixin resize-img-parent($ratio) {
    position: relative;

    &::before {
        display: block;
        padding-top: $ratio;
        content: '';
    }
}

@mixin resize-img-child($type) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: $type;
}

/* COMMON
----------------------------- */
html {
    font-size: 16px;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: $text-color;
}
img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}
p {
    line-height: 2;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
br.sp {
    display: none;
}

/* HEADER
----------------------------- */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 99;

    &__inner {
        width: 100%;
        height: 100%;
        padding: 0 2%;
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 5%;
        display: flex;
        align-items: center;
        transition: .5s;

        &:hover {
            opacity: .7;
        }

        &--img {
            width: 40px;
            height: 40px;
        }

        &--title {
            margin-left: 15px;
            font-size: 32px;
            letter-spacing: .18em;
            line-height: 48px;
            color: #FFFFFF;
        }
    }

    &__nav {
        display: flex;

        a {
            margin-left: 30px;
            color: #FFFFFF;
            transition: .5s;

            &:hover {
                opacity: .7;
            }
        }
    }
}

.btn--book {
    width: 170px;
    height: 55px;
    padding: 0 35px;
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #978F10;
    transition: .5s;

    &:hover {
        background: lighten(#978F10, 10);
    }

    img {
        width: 22px;
        height: 22px;
    }

    p {
        font-size: 16px;
        line-height: 1;
    }
}

/* MAIN
----------------------------- */
.main {
    width: 100%;
    @include resize-img-parent(56.2%);
    overflow: hidden;

    &__slogan {
        position: absolute;
        top: 33%;
        right: 25%;
        z-index: 90;
        color: #FFFFFF;
        font-size: 2.125rem;
        letter-spacing: 0.6rem;
        line-height: 2.5;
        writing-mode: vertical-rl;
    }

    &__bg {
        @include resize-img-child($ex);
        opacity: 0;
        animation: zoom-in 15s 0s infinite linear;

        &:nth-of-type(2) {
            animation-delay: 5s;
        }

        &:nth-of-type(3) {
            animation-delay: 10s;
        }

        @keyframes zoom-in {
            0% {
                opacity: 0;
            }
            7% {
                opacity: 1;
            }
            33% {
                opacity: 1;
            }
            40% {
                opacity: 0;
                transform: scale(1.05);
            }
        }
    }
}

/* MESSAGE
----------------------------- */
.message {
    background: url(../images/bg01.jpg) center center no-repeat;
    background-size: cover;

    &__inner {
        @include inner();
        padding: 3% 8% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 2.4;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    h2 {
        margin-top: 4.5rem;
        font-size: 1.75rem;
        letter-spacing: 0.6rem;
        text-indent: -4.5rem;
    }

    p {
        margin-top: 4.5rem;
        letter-spacing: 0.4rem;

        &:last-child {
            margin-bottom: 5%;
            align-self: flex-end;
            font-size: 1.375rem;
        }
    }
}

/* ABOUT
----------------------------- */
.about {
    padding: 100px 0 80px;

    &__item {
        margin-bottom: 6%;
        display: flex;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &__img {
        width: 55%;
        @include resize-img-parent(52%);

        img {
            @include resize-img-child($ex);
        }
    }

    &__txt {
        max-width: 40%;
        padding: 30px 7%;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 3.5vw;
            font-size: 2.25rem;
            line-height: 1.7;
        }

        p {
            margin-bottom: 3.5vw;
        }
    }
}

.btn {
    width: fit-content;
    min-width: 200px;
    padding: 20px 45px;
    border: 1px solid #707070;
    transition: .5s;

    &:hover {
        background: #707070;

        a {
            color: #fff;
        }
    }

    a {
        color: $text-color;
    }
}

/* OFFERS
----------------------------- */
.offers {
    padding: 0 3%;
    background: url(../images/bg02.jpg) center center no-repeat;
    background-size: cover;

    &__container {
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex: 0 0 28%;

        figure {
            margin-bottom: 2vw;
            @include resize-img-parent(63%);

            img {
                @include resize-img-child($ex);
            }
        }

        h3 {
            margin-bottom: 1.5vw;
        }
    }
}

.section__inner {
    @include inner();
}

.section__title {
    margin: 10px auto 4%;
    display: table;
    font-size: 2rem;

    &::before {
        width: 40px;
        height: 40px;
        margin: 0 auto 10px;
        display: block;
        content: '';
        background: url(../images/logo_black.png) no-repeat;
        background-size: contain;
    }
}

/* NEWS
----------------------------- */
.news {
    padding: 0 3%;

    &__category {
        text-align: center;
        margin-bottom: 50px;

        button {
            margin: 0 25px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 48%;
        margin-bottom: 20px;
        padding: 15px 10px;
        display: flex;
        justify-content: space-between;
        background: #F6F6F6;

        figure {
            width: 100px;
            height: 100px;
            @include resize-img-parent(100%);

            img {
                @include resize-img-child($ex);
            }
        }
    }

    &__title {
        width: 75%;
    }

    &__date {
        font-size: 0.875rem;
    }
}

/* location
----------------------------- */
.location {
    background: url(../images/bg01.jpg) repeat;
    background-size: cover;

    &__info {
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    figure {
        width: 55%;
        float: left;
        @include resize-img-parent(56%);

        img {
            @include resize-img-child($ex);
        }

    }

    &__txt {
        width: 40%;

        h3 {
            font-size: 1rem;
        }
        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .location__map {
        max-width: 800px;
        margin: auto;
    }
    iframe {
        width: 100%;
    }
}

/* TABLET
----------------------------- */
@media (max-width: 800px) {
}

/* SMARTPHONE
----------------------------- */
@media (max-width: 700px) {
}