@charset "UTF-8";

/* VARIABLE
----------------------------- */
$text-color: #000000;
$ex: cover;
$in: contain;

$rooms: url(../images/rooms.jpg);
$dining: url(../images/dining.jpg);
$onsen: url(../images/onsen.jpg);